*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  position: relative;
  float: left;
  width: 33%;
}

figure.film-poster {}

.film {
  width: 75%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid lightgray;
}

article.film {
    overflow: auto;
    position:  relative;
}

.action-watch-later {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    color: red;
}

.action-like {
    color:  red;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.film-details {
    float: left;
    /* position: relative; */
    width: 63%;
    padding-left: 20px;
    top: -25px;
}

p.film-description {
    width: 100%;
}
